#containerAppli {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#dlAppli {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logoAppli {
    width: 16%;
    height: 16%;
}

#pInfoAppli {
    margin: 2%;
    padding: 1%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(47, 53, 83);
    box-shadow: 6px 3px 3px gray;
}

.ppExplication {
    width: 60%;
    height: 60%;
}

#nomAppli {
    text-align: center;
    color: white;
    padding-bottom: 10%;
    font-size: 300%;
}

.pTitre {
    margin: 0;
}

.logoinfo {
    margin-right: 4%;
    width: 10%;
    max-height: 45px;
    min-width: 30px;
}

.foter {
    width: 20%;
    display: flex;
    justify-content: center;
}

.foters {
    width: 20%;
    text-align: center;
}

.coordonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer{
    background-color: rgb(47, 53, 83);
    color: white;
    padding-bottom: 10px;
    display: flex;
}