#containerAppli{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

#dlAppli{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logoAppli{
    width: 16%;
    height: 16%;
}

#pInfoAppli{
    margin: 2%;
    padding: 1%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(47, 53, 83);
    box-shadow: 6px 3px 3px gray;
 
}

.ppExplication{
    width: 60%;
    height: 60%;
}

#containerImg{

text-align: center ;
}



#nomAppli{
    text-align: center;
    color: white;
    padding-bottom: 10%;
    font-size: 300%;
}

.pTitre{
    margin:0;
}