* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: #333;
}

.nav {
    margin: 0 auto;
    width: 1000px;
}

header {
    border-bottom: 1px solid #eee;
}

header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

header li a {
    display: block;
    padding: 20px;
}

header li a:hover {
    background-color: #1abc9c;
    color: #fff;
}

header li:hover .sous {
    display: block;
}

.sous {
    display: none;
    position: absolute;
    background-color: #1abc9c;
    width: 200px;
}

.sous li {
    display: block;
}

.sous li a {
    color: #fff;
}

.sous li:hover a {
    background-color: #fff;
    color: #1abc9c;
}