.pInfoService{
    background-color: rgb(214, 213, 213);
    margin-right: 20% ;
    padding: 2% 5% 2% 5%;
}

#containerPhoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    background-color: rgb(47, 53, 83);
    border-radius: 15px 0 0 15px;
    width: 75vw;
}