.copy {
    padding-top: 250px;
}

@keyframes entree {
    from {
        opacity: 0;
        left: 10px
    }
    to {
        opacity: 1;
        left: 138px
    }
}

@keyframes sortie {
    from {
        opacity: 1;
        left: 138px
    }
    to {
        opacity: 0;
        left: 10px
    }
}

@keyframes entree2 {
    from {
        opacity: 0;
        left: 10px
    }
    to {
        opacity: 1;
        left: -118px
    }
}

@keyframes sortie2 {
    from {
        opacity: 1;
        left: -118px
    }
    to {
        opacity: 0;
        left: 0px
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 24px;
}

.left {
    animation-name: sortie2;
    animation-duration: 0.5s;
    position: absolute;
    opacity: 0;
    height: 256px;
    width: 180px;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.hover:hover .left {
    animation-name: entree2;
    animation-duration: 0.5s;
    opacity: 1;
    left: -118px;
}

.right {
    animation-name: sortie;
    animation-duration: 0.5s;
    position: absolute;
    opacity: 0;
    height: 256px;
    width: 180px;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.hover:hover .right {
    animation-name: entree;
    animation-duration: 0.5s;
    opacity: 1;
    left: 138px;
}

.middle {
    position: absolute;
    height: 256px;
    width: 180px;
    z-index: 2;
    top: 10px;
    transform: scale(100%);
    transition: transform 1s;
}

.hover:hover .middle {
    transform: scale(105%);
    transition: transform 1s;
}

.card2 {
    border-radius: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    height: 278px;
    position: relative;
    z-index: 0;
    box-shadow: 2px 5px 10px black;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.footerp {
    text-align: start;
    color: white;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: rgb(47, 53, 83);
    color: white;
    padding-bottom: 10px;
    display: flex;
}

.transition {
    position: absolute;
    top: 480px;
    width: 1440px;
    height: 50px;
}