body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: -16px;
    background-color: #F9F9F9;
}

.navbarcontent {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    position: fixed;
    z-index: 210;
    max-width: 100%;
    top: 0px;
    width: 100%;
    border-bottom: 0;
    background-color: rgb(47, 53, 83);
    box-shadow: rgb(0 0 0 / 62%) 0 5px 20px;
}

.langage {
    float: right;
    padding: 38px 16px;
    width: 20px;
    height: 15px;
}

#caroussel {
    background-color: rgb(214, 213, 213);
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    display: flex;
    border: none;
    outline: none;
    color: white;
    padding: 37px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 12px;
}

.MenuBtn {
    display: flex;
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    padding: 37px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: rgb(47, 53, 83);
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 113px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content3 {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 92px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content3 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content3 {
    display: block;
}

.logo {
    padding-left: 10px;
    float: left;
    width: 91px;
    height: 91px;
}

.presentation {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
}

.texteGazelle {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.prixGazelle {
    width: 30%;
    align-items: center;
}

.fond {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.fond2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.textphoto {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bandeauTop {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 159, 248);
    width: 100%;
}

.bandeauTop a {
    color: black;
    text-decoration: none;
}

#infoAccueil {
    background-image: linear-gradient( rgb(47, 53, 83), transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#txtAccueil {
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 300%
}

#soustxtAccueil {
    text-align: center;
    color: white;
    padding-bottom: 10%;
    font-size: 150%
}

#nomAppli {
    text-align: center;
    color: white;
    padding-bottom: 10%;
    font-size: 300%;
}

.pTitre{
    margin:0;
    margin-top: 32px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container {
    padding-top: 10px;
}

h2 {
    text-align: center;
    padding: 20px;
}

h3 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 16px;
}

h4 {
    text-align: center;
    padding: 20px;
}

.slick-slide {
    margin: 20px;
}

.slick-slide img {
    padding-top: 16px;
    align-items: center;
    min-width: 40px;
    width: 100%;
    height: 100%;
}

.TailleImg {
    width: 50px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px;
}

@keyframes entree {
    from {
        opacity: 0;
        left: 10px
    }
    to {
        opacity: 1;
        left: 138px
    }
}

@keyframes sortie {
    from {
        opacity: 1;
        left: 138px
    }
    to {
        opacity: 0;
        left: 10px
    }
}

@keyframes entree2 {
    from {
        opacity: 0;
        left: 10px
    }
    to {
        opacity: 1;
        left: -118px
    }
}

@keyframes sortie2 {
    from {
        opacity: 1;
        left: -118px
    }
    to {
        opacity: 0;
        left: 0px
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 24px;
}

.left {
    animation-name: sortie;
    animation-duration: 0.5s;
    position: absolute;
    opacity: 0;
    height: 256px;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.hover:hover .left {
    animation-name: entree;
    animation-duration: 0.5s;
    opacity: 1;
    left: 138px;
}

.right {
    animation-name: sortie2;
    animation-duration: 0.5s;
    position: absolute;
    opacity: 0;
    height: 256px;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.hover:hover .right {
    animation-name: entree2;
    animation-duration: 0.5s;
    opacity: 1;
    left: -118px;
}

.middle {
    position: absolute;
    height: 256px;
    z-index: 2;
    top: 10px;
    transform: scale(100%);
    transition: transform 1s;
}

.hover:hover .middle {
    transform: scale(105%);
    transition: transform 1s;
}

.card2 {
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    height: 278px;
    position: relative;
    z-index: 0;
    box-shadow: 2px 5px 10px black;
    background-repeat: no-repeat;
    background-size: cover;
}

.footerp {
    text-align: start;
    color: white;
    text-align: center;
    text-decoration: none;
}

.description {
    text-shadow: 0px 0px 5px white;
    color: black;
    z-index: 4;
}

footer {
    background-color: rgb(47, 53, 83);
    color: white;
    padding-bottom: 10px;
    display: flex;
}

.transition {
    position: absolute;
    top: 480px;
    width: 1440px;
    height: 50px;
}

.page {
    background-color: rgb(47, 53, 83);
    height: 4px;
    top: 10px;
}

.sphère {
    border-radius: 128px;
    background-color: rgb(47, 53, 83);
    width: 6px;
    height: 6px;
}

.barre {
    background-color: rgb(47, 53, 83);
    width: 256px;
    height: 4px;
}

.déco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

@keyframes pompe {
    from {
        left: 582px;
    }
    to {
        left: 850px;
    }
}

.transmission {
    position: absolute;
    background-color: rgb(47, 53, 83);
    border-radius: 128px;
    width: 5.5px;
    height: 5.5px;
    left: 582px;
    animation-name: pompe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.footers1 {
    margin-top: 16px;
}

.logoinfo {
    margin-right: 4%;
    width: 10%;
    max-height: 45px;
    min-width: 30px;
}

.foter {
    width: 20%;
    display: flex;
    justify-content: center;
}

.foters {
    width: 20%;
    text-align: center;
}

.coordonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgBrochur {
    width: 30%;
    margin: 3%;
    float: left;
}

.fondBroch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.carrerimg {
    background-color: rgb(47, 53, 83);
}

.texteBroch {
    color: white;
    margin: 3%;
}

.DL {
    color: black;
    text-decoration: none;
}

.btnPDF {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 1% 1% 1%;
    border-radius: 30px;
    background-color: rgb(214, 213, 213);
}

.btnPDF:hover {
    text-decoration: none;
    background-color: rgb(233, 232, 232);
}

.btnPDF:active {
    position: relative;
    top: 1px;
}

.Copyright {
    text-align: start;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
.modifright{
    position: absolute;
    left: 188px
}
.modifleft{
    position: absolute;
    left: -188px
}
.descriptionmodif{
    position: absolute;
}
.modifmiddle{
    position: absolute;
    top: 64px;
}
.button{
    position: relative;
    border-radius: 4px;
    background-color: grey;
    width: 16px;
    height: 16px;
    cursor: pointer;
    left: 50vw;
    text-align: center;
}
.fondaccueil {
    z-index: -1;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100vw;
}
section{
    background-color: #F9F9F9;
}
.fond{
    padding-top: 64px;
}
P.mention {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 120%;
}